
.banner{
    text-align: center;
    font-family: myFirstFont;
    src: url(C:\Users\ramin\Desktop\TorBrowser\Browser\fonts\NotoSansMyanmar-Regular.ttf);
font-size:xx-large;
font-weight: bolder;
}